table.encryption-table {
  max-width: 600px;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(225, 225, 225);
  border-bottom: none;
  padding: 0 10px;
  font-family: 'monospace';
}

.home h1 {
font-size: 24px;
letter-spacing: 0;
margin-top: 1em;
}

.container.home {
max-width: 600px;
}
